{% extends 'layouts/application.html.twig' %}
{% block layout_application_main_content %}
    <section class="page -cv">
        <section class="basic-information">
            <h2>Basic information</h2>
            <dl>
                <dt>Name</dt>
                <dd>Paweł Łuczkiewicz</dd>

                <dt>Place of residence</dt>
                <dd>Berlin, Germany</dd>

                <dt>Languages</dt>
                <dd>Polish (native speaker), English (proficient)</dd>

                <dt>Github</dt>
                <dd class="contact-info"><a href="http://github.com/Agares">http://github.com/Agares</a></dd>

                <dt>LinkedIn</dt>
                <dd class="contact-info"><a href="https://www.linkedin.com/in/agares1">https://www.linkedin.com/in/agares1</a></dd>

                <dt>E-Mail</dt>
                <dd class="contact-info"><a href="mailto:me@agares.info">me@agares.info</a></dd>
            </dl>
        </section>

        <section class="skills">
            <h2>Skills</h2>
            <dl>
                <dt>PHP</dt>
                <dd data-value="7"></dd>

                <dt>C#</dt>
                <dd data-value="7"></dd>

                <dt>OOP</dt>
                <dd data-value="7"></dd>

                <dt>Symfony 2, Symfony 3</dt>
                <dd data-value="7"></dd>

                <dt>Git</dt>
                <dd data-value="6"></dd>

                <dt>SQL (T-SQL, PgSQL)</dt>
                <dd data-value="6"></dd>

                <dt>Asp.net MVC</dt>
                <dd data-value="6"></dd>

                <dt>HTML&CSS</dt>
                <dd data-value="6"></dd>

                <dt>TDD</dt>
                <dd data-value="6"></dd>

                <dt>Docker</dt>
                <dd data-value="6"></dd>

                <dt>Sass</dt>
                <dd data-value="5"></dd>

                <dt>C++</dt>
                <dd data-value="5"></dd>

                <dt>Nginx</dt>
                <dd data-value="5"></dd>

                <dt>jQuery</dt>
                <dd data-value="5"></dd>

				<dt>Ansible</dt>
				<dd data-value="5"></dd>

                <dt>Javascript</dt>
                <dd data-value="4"></dd>

                <dt>PowerShell</dt>
                <dd data-value="4"></dd>
            </dl>
        </section>

        <section class="experience">
            <h2>Experience</h2>
            <ul>
				<li>
					<h3>Wayfair</h3>
					<p class="timerange">July 2017 - <em>current</em></p>
					<p>I am working on Warehouse Management Systems team.</p>
				</lib>
                <li>
                    <h3>Audioteka S.A.</h3>
                    <p class="timerange">June 2014 - June 2017</p>
					<p>Audioteka is an <a href="http://audioteka.com">audiobook platform</a>, market leader in Poland and Czech Republic, and active in many other countries (e.g. Germany, France, Spain, Turkey, Brazil). I work on most of the Audioteka's IT projects, both legacy and green-field, including integrations with major telcommunication companies in Poland and Czech Republic and various back-end systems (ranging from the one that's responsible for processing orders to ones responsible for serving the audiobook files to the users).</p>
                </li>
                <li>
                    <h3>Nowatel sp. z o.o.</h3>
                    <p class="timerange">April 2012 &ndash; May 2014</p>
                    <p>Part time (around 15-20h/week)</p>
                    <p>PHP & Front-end developer — I have been working on configuration tool for communications system used by the Police, Fire Fighters, etc.</p>
                    <p>My work was based mostly on Zend Framwork 1, MySQL and PostgreSQL (with PostGIS).</p>
                </li>
            </ul>
        </section>

        <a href="{{ app.request.basepath }}/cv.pdf" class="download"><i class="fa fa-file-pdf-o"></i> PDF</a>
    </section>
{% endblock %}
