.main-menu {
  max-width: 900px;
  margin: 0 auto 50px;

  a {
    font-size: 1.2rem;
    color: $secondary-colour;

    &:hover {
      color: lighten($secondary-colour, 10%);
    }
  }

  ul {
    padding: 0;
    display: flex;
    justify-content: center;

    li {
      margin: 0 1rem;
      list-style-type: none;
      text-align: center;
    }
  }

  a {
    text-transform: lowercase;
    font-weight: 300;
  }

  @media print {
    display: none;
  }
}