{% extends 'layouts/application.html.twig' %}

{% block layout_application_main_content %}
    <div class="page -blog">
        <ul class="post-list">
            {% for post in posts %}
                <li>
                    <a href="{{ url('blog_post', { slug: post.slug }) }}">{{ post.title }}</a>
                    <time datetime="{{ post.publishedDate|date('Y-m-d H:i:s') }}">{{ post.publishedDate|date }}</time>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

