{% extends 'layouts/application.html.twig' %}
{% block layout_application_main_content %}
    <section class="page -home">
        <a href="https://github.com/Agares" data-tooltip="github.com/Agares">
            <i class="fa fa-github"></i>
        </a>

        <a href="https://www.linkedin.com/in/agares1" data-tooltip="linkedin.com/in/agares1">
            <i class="fa fa-linkedin"></i>
        </a>

        <a href="mailto:me@agares.info" data-tooltip="me@agares.info">
            <i class="fa fa-envelope"></i>
        </a>
    </section>
{% endblock %}
